/* Options Nav Bar */
.options{
	display:block;
	float:left;
	position:fixed;
	top:0;
	left:calc(50% - 112px);
	background:#eee;
}
.options ul{
	float:left;
	display: table;
}
.options ul li{
    width: 100px !important;
    height: 30px !important;
    display: table-cell;
    float: none !important;
    text-align: center !important;
    vertical-align: middle;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 0 !important;
}
.options ul li.active{
	background:#ccc;
}

/* Sitemap General */
html {
	padding: 15px;
}
body {
	background: #222;
}
a {
	display: block;
	background: #000;
	width: 100px;
	min-height: 38px;
	padding: 5px 8px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #eee;
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;
}
a.home {
	background: none;
	float: left;
	width: 100%;
	margin-top: 40px;
	font-size: 30px;
	border-bottom: 1px solid #fff;
	text-align: center;
}
ul.menu {
	border-left: 1px solid #fff;
}
ul.menu > li:before {
	content: "";
	display: block;
	width: 25px;
	height: 60px;
	margin-left: -25px;
	border-bottom: 1px solid #fff;
}
body > ul.menu > li:before {
	border-left: 1px solid #fff;
}
ul.menu > li a {
	margin-top: -20px;
}
li {
	float: none;
	width: 100%;
	padding: 0 0 0 25px;
	text-align: left;
	box-sizing: border-box;
}
li a { background: #06064B; } 
li li a { background: #13138A; } 
li li li a{ background: #06537D; }
li li li li a{ background: #4E94B9; }
body > ul.menu > li {
	float: left;
}
body > ul.menu > li.width-1  { width: 100%; }
body > ul.menu > li.width-2 { width: 50%; }
body > ul.menu > li.width-3 { width: 33%; }
body > ul.menu > li.width-4 { width: 25%; }
body > ul.menu > li.width-5 { width: 20%; }
body > ul.menu > li.width-6 { width: 16%; }
body > ul.menu > li.width-7 { width: 14%; }
body > ul.menu > li.width-8 { width: 12.5%; }
body > ul.menu > li.width-9 { width: 11%; }
body > ul.menu > li.width-10 { width: 10%; }

/* Vertical Allignment (Option 2) */
body.o2 > ul.menu > li {
	float: none;
	width: 100%;
}
body.o2 > ul.menu > li:before {
	border-left: none;
}
body.o2 a.home {
	margin: 0;
	text-align: left;
	border-bottom: none;
}
